:root{
    --main-color: #007DFE;
}
*{
    box-sizing: border-box;
}
body{
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.login-container{
    height: 100vh;
    .login{
        width:900px;
        height:500px;
        display: flex;
        align-items: center;
        justify-content: center;
        .box{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex:1;
            gap: 15px;
            p{
                font-weight:bold ;
                font-size: 22px;
                margin: 0;
            }
            img{
                height: 200px;
            }
            .router{
                height: 150px;
                margin-bottom: 30px;
            }
            input{
                border: 2px solid var(--main-color);
            }
            input:focus{
                outline: none;
            }
            a{
                background-color: var(--main-color);
                color: white;
                font-weight:bold ;
            }
            span{
                color: var(--main-color);
            }
        }
        .qr-box::before{
            content: '';
            height: 400px;
            width: 2px;
            background-color: #ccc;
            position: absolute;
            left: 26px;
        }
    }
}
